{% extends 'base.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <!-- Card Aggiungi Garanzia (in alto e larga) -->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="card shadow-lg ">
          <div class="card-header text-center">
            <h4 id="toggleFormHeader" data-bs-toggle="collapse" data-bs-target="#collapseForm" style="cursor: pointer;">Aggiungi una nuova garanzia</h4>
            <!-- Messaggi di Flash -->
            {% include 'message.html' %}
          </div>
          <div id="collapseForm" class="collapse card-body">
            <div class="d-flex justify-content-center">
            <form class="card-form text-center" action="{{ url_for('dashboard') }}" method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-md-6 mb-3">{{ form.nome_oggetto.label }} {{ form.nome_oggetto(class='form-control') }}</div>
                <div class="col-md-3 mb-3">{{ form.data_acquisto.label }} {{ form.data_acquisto(class='form-control') }}</div>
                <div class="col-md-3 mb-3">{{ form.fine_garanzia.label }} {{ form.fine_garanzia(class='form-control') }}</div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">{{ form.luogo_acquisto.label }} {{ form.luogo_acquisto(class='form-control') }}</div>
                <div class="col-md-6 mb-3">{{ form.note.label }} {{ form.note(class='form-control') }}</div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label>Foto Oggetto</label>
                  <input type="file" name="foto_oggetto" class="form-control" accept="image/*" capture="environment" />
                </div>
                <div class="col-md-6 mb-3">
                  <label>Scontrino</label>
                  <input type="file" name="scontrino" class="form-control" accept="image/*" capture="environment" />
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100">Aggiungi Garanzia</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- Grande Card con lista garanzie -->
    <div class="card shadow-lg">
      <div class="card-header text-center">
        <h4>Le tue garanzie</h4>
        </div>
        <div class="card-body">
          <div class="row">
            {% for garanzia in garanzie %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                <div class="card-garanzie">
                  <div class="container-img-garanzie">
                    {% if garanzia.foto_oggetto %}
                      <img class="img-garanzie-top" src="{{ url_for('static', filename=garanzia.foto_oggetto) }}" />
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ garanzia.nome_oggetto }}</h5>
                    <p class="card-text">
                      <strong>Acquisto:</strong> {{ garanzia.data_acquisto }}<br />
                      <strong>Scadenza:</strong> {{ garanzia.fine_garanzia }}<br />
                      <strong>Luogo:</strong> {{ garanzia.luogo_acquisto }}<br />
                      <strong>Note:</strong> {{ garanzia.note }}
                    </p>
                  </div>
                  <div class="card-footer">
                    {% if garanzia.scontrino %}
                      <!-- Bottone per aprire la modal -->
                      <button
                        type="button"
                        class="btn btn-link p-0"
                        data-bs-toggle="modal"
                        data-bs-target="#modalScontrino{{ garanzia.id }}">
                        Apri Scontrino
                      </button>
                      <br>
                    {% endif %}
                    <a href="{{ url_for('modifica_garanzia', id=garanzia.id) }}" class="btn btn-outline-primary w-100 mb-2">Modifica Garanzia</a>
                  </div>

                  <!-- Modal per visualizzare l'immagine dello scontrino -->
                  {% if garanzia.scontrino %}
                    <div class="modal fade" id="modalScontrino{{ garanzia.id }}" tabindex="-1" aria-labelledby="modalScontrinoLabel{{ garanzia.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content bg-dark">
                          <div class="modal-header border-0">
                            <h5 class="modal-title text-white" id="modalScontrinoLabel{{ garanzia.id }}">Scontrino</h5>
                            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                          </div>
                          <div class="modal-body text-center">
                            <!-- Immagine dello scontrino a schermo intero -->
                            <img src="{{ url_for('static', filename=garanzia.scontrino) }}" alt="Scontrino" class="img-fluid img-fullscreen" />
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer text-center">
    </div>
{% endblock %}