{% extends 'base.html' %}

{% block title %}
  Home - GaranzieApp
{% endblock %}

{% block content %}
  <div class="text-center mb-5">
    <h1 class="display-4 text-center">Non trovare lo scontrino...</h1>
    <h1 class="display-6 text-center">Ecco come fare:</h1>

    <p class="lead">
      Con <strong>Garanzie Manager</strong> hai tutto a portata di click: ricevute, scadenze e tanto altro!
    </p>
    <a class="btn btn-primary btn-lg d-block mx-auto mt-3" href="{{ url_for('register') }}">Registrati subito!</a>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner rounded shadow">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='uploads/in-garanzia.jpg') }}" class="d-block w-100" alt="Garanzia oggetto" />
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='uploads/scontrini.jpeg') }}" class="d-block w-100" alt="Scontrini di esempio accartocciati" />
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='uploads/dubbi-sulla-garanzia.webp') }}" class="d-block w-100" alt="Scontrini di esempio" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Precedente</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Successivo</span>
    </a>
  </div>
{% endblock %}
