<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrazione</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      /* Classe per la transizione di dissolvenza */
      .fade-message {
        opacity: 1;
        transition: opacity 1000ms linear; /* Aggiungi transizione per l'opacità */
      }
      
      /* Quando la classe 'remove-message' è aggiunta, l'opacità scende a 0 */
      .remove-message {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Registrazione</h1>
      <!-- Mostra i messaggi di flash -->
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade-message show" role="alert" id="flash-message">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('register') }}" method="post">
        <!-- CSRF Token per la protezione -->
        {{ form.hidden_tag() }}

        <label for="username">Username</label>
        {{ form.username() }}<br />

        <label for="email">Email</label>
        {{ form.email() }}<br />

        <label for="password">Password</label>
        {{ form.password() }} <br />

        <button type="submit">Registrati</button>
      </form>

      <p>
        Hai già un account? <a href="{{ url_for('login') }}">Login</a>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // Dopo 5 secondi, riduci l'opacità e rimuovi il messaggio
      setTimeout(function () {
        var flashMessages = document.querySelectorAll('.alert')
        flashMessages.forEach(function (flashMessage) {
          // Aggiungi la classe 'remove-message' per far scomparire il messaggio
          flashMessage.classList.add('remove-message')
      
          // Dopo 1 secondo (durata della transizione), rimuovi il div dal DOM
          setTimeout(function () {
            flashMessage.remove() // Rimuovi il messaggio
          }, 1000) // 1000 millisecondi = durata della transizione
        })
      }, 5000) // 5000 millisecondi = 5 secondi
    </script>
  </body>
</html>
